.btn {
    position: relative;
    width: 150px;
    height: 150px;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
  }
  
  .btn-front {
    position: absolute;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 10px;
    backface-visibility: hidden;
  }
  
  .btn-front img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .btn-back {
    position: absolute;
  
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }
  
  .btn.is-open {
    transform: rotateY(180deg);
  }
  